@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');


body {
    background-color: rgb(167, 126, 126);
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
  text-align: center;
}

.card {
    margin-bottom: 20px;
  }
  
  .btn-procede {
    background-color: rgb(130, 194, 194);
    color: black;
    margin-left: auto;
    padding: .3rem 1.4rem;;
    font-size: 1rem;
  }


  .btn-city {
    background-color: rgb(130, 194, 194);
    color: white;
    margin-left: 0;
    padding: .3rem 1.4rem;;
    font-size: 1rem;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }
  
  h2 {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  
  .card-body {
    padding: 25px;
  }

  body.female .male {
    display: none;
  }

  body.male .female {
    display: none;
  }
